{
  "extends": "wcl-backend",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "mocha/no-exclusive-tests": "warn",
    "quotes": ["error", "single"]
  }
}
